@import './App.css';

/* 애니메이션 시작 시점 */
.wow-enter{
  opacity: 0;
}

/* 애니메이션 동작 시점 */
.wow-enter-active{
  opacity: 1;
  transition: all 500ms;
}



$메인칼라 : #ff0000;

.red {
  color : $메인칼라;
}

div.container {
  h4 {
    color : blue;
  }
  p {
    color : green;
  }
}

.my-alert {
  background : #eeeeee;
  padding : 15px;
  border-radius : 5px;
  max-width : 500px;
  width : 100%;
  margin : auto;
}
.my-alert2 {
  @extend .my-alert;
  background : yellow;
}

.my-alert p {
  margin-bottom : 0;
}

@mixin 함수() {
  background : #eeeeee;
  padding : 15px;
  border-radius : 5px;
  max-width : 500px;
  width : 100%;
  margin : auto;
}
.my-alert {
  @include 함수()
}